@import "tailwindcss";


 html {
  scroll-behavior: smooth;
}


body{
  background-color: #121412;
  /* margin: 0px;
  padding:0px; */
  font-family: "Poppins", sans-serif;
  
  
}
.navcontainer{
  width: 100%;
  height: 60px;
background-color: #121412; 
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
}
.navbtn{
  background-color: #A1FB00;
}

:hover .navbtn{
 

}
.void{
      --tw-text-opacity: 1;
    color: rgb(161 251 0 / var(--tw-text-opacity, 1));
}
.text-glow {
    text-shadow: 0 0 20px rgba(161, 251, 0, 0.3);
}
.fronth2{
  color: rgb(188 240 174 / var(--tw-text-opacity, 1));
}
